<div class="container-fluid">
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade active show" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
            tabindex="0">
            <div class="row">
                <div class="col-lg-4">
                    <div id="section_loading_photo" class="card shadow-none border">
                        <div class="shimmer-wrapper card-body p-4">

                            <div class="text-center">

                                <img class="shimmer-circle shimmer-circle-lg shimmer-animate">

                                <h5
                                    class="shimmer-animate shimmer-line-br shimmer-line my-2 text-truncate card-title fw-semibold">
                                </h5>
                                <p class="shimmer-animate shimmer-line-br shimmer-line card-subtitle mb-4"></p>
                                <div
                                    class="shimmer-animate shimmer-line-br shimmer-block justify-content-center w-100 mb-1 btn-primary d-flex align-items-center">
                                </div>
                                <div
                                    class="shimmer-animate shimmer-line-br shimmer-block justify-content-center w-100 mb-1 btn-primary d-flex align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="section_photo" class="card shadow-none border">
                        <div class="col mt-2 mx-2">
                            <a href="?pages=pegawai"><button class="btn btn-primary">
                                    <span class="mr-2">&larr;</span>
                                    <span>Kembali</span>
                                </button></a>
                        </div>
                        <div class="card-body p-4">

                            <div class="text-center">
                                <span class="crop">
                                    <img id="profile_picture" src="" alt="profile_picture" class="img-fluid" width="120"
                                        height="120">
                                </span>

                                <h5 class="my-2 text-truncate card-title fw-semibold full_name">-
                                </h5>
                                <p class="card-subtitle mb-4 pangkat_golongan">-</p>
                                <input type="file" id="photos" name="files" style="display: none">
                                <button id="change_photo_profile"
                                    class="change_photo_profile my-4 justify-content-center w-100 btn mb-1 btn-primary d-flex align-items-center">
                                    <i class="ti ti-cloud-upload fs-4 me-2"></i>
                                    Ganti Photo Profile
                                </button>
                                {{!-- <button id="change_visual_tte"
                                    class="my-2 justify-content-center w-100 btn mb-1 btn-danger d-flex align-items-center">
                                    <i class="ti ti-cloud-upload fs-4 me-2"></i>
                                    Ganti Visual TTE
                                </button> --}}
                            </div>
                        </div>
                    </div>
                    {{!-- <div id="section_loading_bsre" class="card shadow-none border">
                        <div class="shimmer-wrapper card-body p-4">

                            <div class="text-center">
                                <div
                                    class="shimmer-animate shimmer-line-br shimmer-line w-20 justify-content-center mb-1 btn-primary d-flex align-items-center">
                                </div>
                                <div
                                    class="shimmer-animate shimmer-line-br shimmer-line w-50 justify-content-center mb-1 btn-primary d-flex align-items-center">
                                </div>
                                <div
                                    class="shimmer-animate shimmer-line-br shimmer-line w-70 justify-content-center mb-1 btn-primary d-flex align-items-center">
                                </div>
                                <div
                                    class="shimmer-animate shimmer-line-br shimmer-line w-100 justify-content-center mb-1 btn-primary d-flex align-items-center">
                                </div>
                            </div>
                        </div>
                    </div> --}}
                    {{!-- <div class="card shadow-none border section_bsre">
                        <div class="card-body">
                            <h4 class="fw-semibold mb-3">Informasi BSre</h4>
                            <ul class="list-unstyled mb-0">
                                <li class="d-flex align-items-center gap-3 mb-1">
                                    <i class="ti ti-checks text-dark fs-6"></i>
                                    <div class="mt-3">
                                        <p class="font-size-12 text-muted mb-1">Status TTE</p>
                                        <span id="status_tte" class="badge bg-success">-</span>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center gap-3 mb-1">
                                    <i class="ti ti-checks text-dark fs-6"></i>
                                    <div class="mt-3">
                                        <p class="font-size-12 text-muted mb-1">Visual TTE</p>
                                        <a href="" id="visual_tte_button" target="_blank"><button type="button"
                                                class="my-2 justify-content-center w-100 btn mb-1 btn-sm btn-danger d-flex align-items-center">
                                                <i class="ti ti-photo fs-4 me-2"></i>
                                                Lihat
                                            </button></a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center gap-3 mb-1">
                                    <i class="ti ti-checks text-dark fs-6"></i>
                                    <div class="mt-3">
                                        <p class="font-size-12 text-muted mb-1">TTE Berlaku Sampai</p>
                                        <span id="expired_tte" class="badge bg-success">-</span>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center gap-3 mb-1">
                                    <i class="ti ti-info-circle text-dark fs-6"></i>
                                    <div class="mt-3">
                                        <p class="font-size-12 text-muted mb-1">Jenis Sertifikat</p>
                                        <span id="tte_type" class="badge bg-success">-</span>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center gap-3 mb-1">
                                    <i class="ti ti-shield-checkered-filled text-dark fs-6"></i>
                                    <div class="mt-3">
                                        <p class="font-size-12 text-muted mb-1">Hak Akses</p>
                                        <div id="permission_section"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div> --}}
                </div>
                <div class="col-lg-8">
                    <div id="section_loading_device" class="card shadow-none border">
                        <div class="shimmer-wrapper card-body p-4">

                            <div class="text-center">
                                <div
                                    class="shimmer-animate shimmer-line-br shimmer-line w-20 justify-content-center mb-1 btn-primary d-flex align-items-center">
                                </div>
                                <div
                                    class="shimmer-animate shimmer-line-br shimmer-line w-50 justify-content-center mb-1 btn-primary d-flex align-items-center">
                                </div>
                                <div
                                    class="shimmer-animate shimmer-line-br shimmer-line w-70 justify-content-center mb-1 btn-primary d-flex align-items-center">
                                </div>
                                <div
                                    class="shimmer-animate shimmer-line-br shimmer-line w-100 justify-content-center mb-1 btn-primary d-flex align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-none border section_device">
                        <div class="card-body p-4">
                            <div
                                class="bg-light rounded-1 p-6 d-inline-flex align-items-center justify-content-center mb-3">
                                <i class="ti ti-device-laptop text-primary d-block fs-7" width="22" height="22"></i>
                            </div>
                            <h5 class="fs-5 fw-semibold mb-0">Perangkat Pengguna</h5>
                            <p class="mb-3">Daftar Perangkat Pengguna</p>
                            <div id="device_list"></div>
                        </div>
                    </div>
                    <div id="section_loading_profile" class="card shadow-none border">
                        <div class="shimmer-wrapper card-body p-4">

                            <div class="text-center">
                                <div
                                    class="shimmer-animate shimmer-line-br shimmer-line w-20 justify-content-center mb-1 btn-primary d-flex align-items-center">
                                </div>
                                <div
                                    class="shimmer-animate shimmer-line-br shimmer-line w-50 justify-content-center mb-1 btn-primary d-flex align-items-center">
                                </div>
                                <div
                                    class="shimmer-animate shimmer-line-br shimmer-line w-70 justify-content-center mb-1 btn-primary d-flex align-items-center">
                                </div>
                                <div
                                    class="shimmer-animate shimmer-line-br shimmer-line w-100 justify-content-center mb-1 btn-primary d-flex align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-none border section_profile">
                        <div class="card-body">
                            <h4 class="fw-semibold mb-3">Informasi Pengguna</h4>
                            <ul class="list-unstyled mb-0">
                                <li class="d-flex align-items-center gap-3 mb-1">
                                    <i class="ti ti-user text-dark fs-6"></i>
                                    <div class="mt-3">
                                        <p class="font-size-12 text-muted mb-1">Nama Lengkap</p>
                                        <h6 class="note-title full_name"> Adjie Kurniawan, A.Md</h6>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center gap-3 mb-1">
                                    <i class="ti ti-info-circle text-dark fs-6"></i>
                                    <div class="mt-3">
                                        <p class="font-size-12 text-muted mb-1">NIK</p>
                                        <h6 class="note-title text-truncate nik_user"> 1271030204970001</h6>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center gap-3 mb-1">
                                    <i class="ti ti-info-circle text-dark fs-6"></i>
                                    <div class="mt-3">
                                        <p class="font-size-12 text-muted mb-1">NIP</p>
                                        <h6 class="note-title text-truncate nip_user"> 19970402 202203 1 003</h6>
                                    </div>
                                </li>
                                {{!-- <li class="d-flex align-items-center gap-3 mb-1">
                                    <i class="ti ti-info-circle text-dark fs-6"></i>
                                    <div class="mt-3">
                                        <p class="font-size-12 text-muted mb-1">Jabatan</p>
                                        <h6 class="note-title text-truncate jabatan_user"> Pengelolah Instalas Teknologi
                                            Informasi
                                        </h6>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center gap-3 mb-1">
                                    <i class="ti ti-info-circle text-dark fs-6"></i>
                                    <div class="mt-3">
                                        <p class="font-size-12 text-muted mb-1">Golongan/Pangkat</p>
                                        <h6 class="note-title text-truncate golongan_user"> Pengatur, II/c
                                        </h6>
                                    </div>
                                </li> --}}
                                <li class="d-flex align-items-center gap-3 mb-1">
                                    <i class="ti ti-info-circle text-dark fs-6"></i>
                                    <div class="mt-3">
                                        <p class="font-size-12 text-muted mb-1">Nama Perusahaan</p>
                                        <h6 class="note-title text-truncate opd_user"> -
                                        </h6>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center gap-3 mb-1">
                                    <i class="ti ti-inbox text-dark fs-6"></i>
                                    <div class="mt-3">
                                        <p class="font-size-12 text-muted mb-1">Email</p>
                                        <h6 class="note-title text-truncate email_user"> adjie@acehtamiangkab.go.id
                                        </h6>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center gap-3 mb-1">
                                    <i class="ti ti-123 text-dark fs-6"></i>
                                    <div class="mt-3">
                                        <p class="font-size-12 text-muted mb-1">Nomor Telepon</p>
                                        <h6 class="note-title text-truncate phone_user"> 0812-6949-4591
                                        </h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>