<header class="app-header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link sidebartoggler nav-icon-hover ms-n3" id="headerCollapse" href="javascript:void(0)">
                    <i class="ti ti-menu-2"></i>
                </a>
            </li>
        </ul>

        <div class="d-block d-lg-none">
            <img src="/dist/images/logos/signal-logos.svg" class="dark-logo" width="180" alt="" />
            <img src="/dist/images/logos/signal-logos.svg" class="light-logo" width="180" alt="" />
        </div>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="p-2">
                <i class="ti ti-dots fs-7"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="d-flex align-items-center justify-content-between">

                <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-center">

                    <li class="nav-item dropdown">
                        <a class="nav-link pe-0" href="javascript:void(0)" id="drop1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <div class="d-flex align-items-center">
                                <div class="user-profile-img">
                                    <span class="crop">
                                        <img src="{{datas.users.user_photo}}" alt="{{datas.user.user_name}}"
                                            class="rounded-circle" width="35" height="35" />
                                    </span>

                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu content-dd dropdown-menu-end dropdown-menu-animate-up"
                            aria-labelledby="drop1">
                            <div class="profile-dropdown position-relative" data-simplebar>
                                <div class="py-3 px-7 pb-0">
                                    <h5 class="mb-0 fs-5 fw-semibold">Profile Pengguna</h5>
                                </div>
                                <div class="d-flex align-items-center py-9 mx-7 border-bottom">
                                    <span class="crop">
                                        <a href="?pages=user_profile">
                                            <img src="{{datas.users.user_photo}}" alt="{{datas.user.user_name}}"
                                                class="rounded-circle" width="80" height="80" alt="" />
                                        </a>

                                    </span>

                                    <div class="ms-3">
                                        <a href="?pages=user_profile">
                                            <h5 class="mb-1 fs-3">{{datas.users.user_name}}</h5>
                                        </a>
                                        <span
                                            class="mb-1 badge rounded-pill font-medium bg-light-primary text-primary">{{datas.users.user_type_category}}</span>

                                        <p class="mb-0 d-flex text-dark align-items-center gap-2">
                                            <i class="ti ti-mail fs-4"></i> {{datas.users.user_email}}
                                        </p>
                                    </div>
                                </div>
                                <div class="message-body">
                                    <a href="?pages=user_profile" class="py-8 px-7 mt-8 d-flex align-items-center">
                                        <span
                                            class="d-flex align-items-center justify-content-center bg-light rounded-1 p-6">
                                            <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-account.svg"
                                                alt="" width="24" height="24">
                                        </span>
                                        <div class="w-75 d-inline-block v-middle ps-3">
                                            <h6 class="mb-1 bg-hover-primary fw-semibold"> Profile Saya </h6>
                                            <span class="d-block text-dark">Pengaturan Akun</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="d-grid py-4 px-7 pt-8">
                                    <div
                                        class="upgrade-plan bg-light-primary position-relative overflow-hidden rounded-4 p-4 mb-9">
                                        <div class="row">
                                            <div class="col-8">
                                                <h5 class="fs-4 mb-3 w-50 fw-semibold text-dark">Butuh
                                                    Bantuan?</h5>
                                                <button class="btn btn-primary text-white">Hubungi Kami</button>
                                            </div>
                                            <div class="col-4">
                                                <div class="m-n4">
                                                    <img src="../../dist/images/backgrounds/unlimited-bg.png" alt=""
                                                        class="w-100">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/logout" class="btn btn-outline-primary">Keluar</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>