{{#ifEquals datas.users.user_type "-1"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center gap-4 mb-4">
                <div class="position-relative">
                    <div class="border border-2 border-primary rounded-circle">
                        <img src="{{datas.users.user_photo}}" class="rounded-circle m-1" alt="{{datas.users.user_name}}"
                            width="60">
                    </div>
                    {{!-- <span
                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary"> 3
                        <span class="visually-hidden">unread messages</span>
                    </span> --}}
                </div>
                <div>
                    <h3 class="fw-semibold">Hi, <span class="text-dark">{{datas.users.user_name}}</span>
                    </h3>
                    <span>
                        <div id="date"></div>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
{{else}}
{{> admin/content/dashboard/index_op}}
{{/ifEquals}}