<div class="container-fluid">

    {{#ifEquals datas.users.user_type "-1"}}

    <div class="widget-content searchable-container list">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-8 col-xl-9">
                    <div class="col-12">
                        <h4 class="fw-semibold mb-2">{{datas.kecamatan.nama_kecamatan}}</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="/">Kecamatan</a></li>
                                <li class="breadcrumb-item" aria-current="page">Data Puskesmas</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3 text-end d-flex justify-content-md-end justify-content-center mt-3">
                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#addPuskesmas"
                        id="btn_add_puskesmas" class="btn btn-hover btn-info d-flex align-items-center">
                        <i class="ti ti-users text-white me-1 fs-5"></i> Tambah Puskesmas
                    </a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addPuskesmas" tabindex="-1" role="dialog" aria-labelledby="addContactModalTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center">
                        <h5 class="modal-title title_opd">Tambah Puskesmas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="add-contact-box">
                            <div class="add-contact-content">
                                <form id="frmAddPuskesmas" class="needs-validation" method="post" novalidate>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1" class="form-label fw-semibold">Nama
                                                    Puskesmas</label>
                                                <div class="input-group border rounded-1">
                                                    <span class="input-group-text bg-transparent px-6 border-0"
                                                        id="basic-addon1"><i
                                                            class="ti ti-building-arch fs-6"></i></span>
                                                    <input type="hidden" name="_id" id="_id" value="">
                                                    <input type="hidden" name="_actions" id="_actions" value="">
                                                    <input type="text" name="nama_puskesmas" autofocus required
                                                        class="form-control border-0 ps-2"
                                                        placeholder="Masukkan Nama Puskesmas">

                                                    <div class="px-2 invalid-feedback">
                                                        Nama Puskesmas Tidak Boleh Kosong
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-add" type="submit" class="btn btn-success rounded-pill px-4">Tambah
                            Puskesmas</button>
                        <button id="btn-edit" type="submit" class="btn btn-success rounded-pill px-4">Update
                            Data</button>
                        </form>
                        <button class="btn btn-danger rounded-pill px-4" data-bs-dismiss="modal"> Batal </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-body">
            <div class="table-responsive">
                <table id="tbl_puskesmas" class="table display align-middle text-nowrap" style="width: 100%">
                    <thead class="header-item">
                        <tr>
                            <th>No</th>
                            <th>Nama Puskesmas</th>
                            <th>Status</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{else}}
    {{> admin/includes/error}}
    {{/ifEquals}}
</div>