<div class="container-fluid">

    {{#ifEquals datas.users.user_type "-1"}}

    <div class="widget-content searchable-container list">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-xl-3">
                    <div class="col-12">
                        <h4 class="fw-semibold mb-8">DATA IMUNISASI</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="/">Dashboard</a></li>
                                <li class="breadcrumb-item" aria-current="page">Data Imunisasi</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-md-8 col-xl-9 text-end d-flex justify-content-md-end justify-content-center mt-3">
                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#addImunisasi"
                        id="btn_add_imunisasi" class="btn btn-hover btn-info d-flex align-items-center">
                        <i class="ti ti-calendar text-white me-1 fs-5"></i> Tambah Data
                    </a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addImunisasi" tabindex="-1" role="dialog" aria-labelledby="addContactModalTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center">
                        <h5 class="modal-title title_opd">Tambah Data Imunisasi</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="add-contact-box">
                            <div class="add-contact-content">
                                <form id="frmAddImun" class="needs-validation" method="post" novalidate>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1" class="form-label fw-semibold">Nama
                                                    Anak</label>
                                                <div class="input-group border rounded-1">
                                                    <span class="input-group-text bg-transparent px-6 border-0"
                                                        id="basic-addon1"><i
                                                            class="ti ti-building-arch fs-6"></i></span>
                                                    <input type="hidden" name="_id" id="_id" value="">
                                                    <input type="hidden" name="_actions" id="_actions" value="">

                                                    <select id="nama_anak" name="nama_anak" class="form-select select2"
                                                        required>
                                                        <option value="null" selected disabled>Pilih Nama Anak</option>
                                                        {{#each datas.nama_anak}}
                                                        <option value="{{id}}">{{full_name}}</option>
                                                        {{/each}}
                                                    </select>

                                                    <div class="px-2 invalid-feedback">
                                                        Nama Anak Tidak Boleh Kosong
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1" class="form-label fw-semibold">Pilih
                                                    Jenis Imunisasi</label>
                                                <div class="input-group border rounded-1">
                                                    <span class="input-group-text bg-transparent px-6 border-0"
                                                        id="basic-addon1"><i class="ti ti-list fs-6"></i></span>
                                                    <select id="jenis_imunisasi" name="jenis_imunisasi"
                                                        class="form-select select2" required>
                                                        <option value="null" selected disabled>Pilih Jenis Imunisasi
                                                        </option>
                                                        {{#each datas.jenis_imun}}
                                                        <option value="{{id}}">{{jenis_imunisasi}}</option>
                                                        {{/each}}
                                                    </select>
                                                    <div class="px-2 invalid-feedback">
                                                        Jenis Imunisasi Belum Dipilih
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1"
                                                    class="form-label fw-semibold">Tanggal
                                                    Imunisasi</label>
                                                <div class="input-group border rounded-1">
                                                    <span class="input-group-text bg-transparent px-6 border-0"
                                                        id="basic-addon1"><i
                                                            class="ti ti-building-arch fs-6"></i></span>

                                                    <input type="date" name="tgl_imunisasi" autofocus required
                                                        class="form-control border-0 ps-2"
                                                        placeholder="Umur Imuniasasi">

                                                    <div class="px-2 invalid-feedback">
                                                        Tanggal Imunisasi Tidak Boleh Kosong
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-add" type="submit" class="btn btn-success rounded-pill px-4">Tambah Data
                            Imunisasi</button>
                        <button id="btn-edit" type="submit" class="btn btn-success rounded-pill px-4">Update
                            Data</button>
                        </form>
                        <button class="btn btn-danger rounded-pill px-4" data-bs-dismiss="modal"> Batal </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-body">
            <div class="table-responsive">
                <table id="tbl_data_imunisasi" class="table display align-middle text-nowrap" style="width: 100%">
                    <thead class="header-item">
                        <tr>
                            <th>No</th>
                            <th>Nama Anak</th>
                            <th>Jenis Imunisasi</th>
                            <th>Tanggal Imunisasi</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{else}}
    {{> admin/includes/error}}
    {{/ifEquals}}
</div>