<div class="container-fluid">

    {{#ifEquals datas.users.user_type "-1"}}

    <div class="widget-content searchable-container list">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-xl-3">
                    <div class="col-12">
                        <h4 class="fw-semibold mb-8">JADWAL IMUNISASI</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="/">Dashboard</a></li>
                                <li class="breadcrumb-item" aria-current="page">Jadwal Imunisasi</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-md-8 col-xl-9 text-end d-flex justify-content-md-end justify-content-center mt-3">
                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#addJadwal" id="btn_add_jadwal"
                        class="btn btn-hover btn-info d-flex align-items-center">
                        <i class="ti ti-calendar text-white me-1 fs-5"></i> Tambah Jadwal
                    </a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addJadwal" tabindex="-1" role="dialog" aria-labelledby="addContactModalTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center">
                        <h5 class="modal-title title_opd">Tambah Jadwal Imunisasi</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="add-contact-box">
                            <div class="add-contact-content">
                                <form id="frmAddJadwal" class="needs-validation" method="post" novalidate>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1"
                                                    class="form-label fw-semibold">Tanggal Imunisasi</label>
                                                <div class="input-group border rounded-1">
                                                    <span class="input-group-text bg-transparent px-6 border-0"
                                                        id="basic-addon1"><i
                                                            class="ti ti-building-arch fs-6"></i></span>
                                                    <input type="hidden" name="_id" id="_id" value="">
                                                    <input type="hidden" name="_actions" id="_actions" value="">
                                                    <input type="date" name="tgl_imunisasi" autofocus required
                                                        class="form-control border-0 ps-2"
                                                        placeholder="Masukan Tanggal Imunisasi">

                                                    <div class="px-2 invalid-feedback">
                                                        Tanggal Imunisasi Tidak Boleh Kosong
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1" class="form-label fw-semibold">Pilih
                                                    Kecamatan</label>
                                                <div class="input-group border rounded-1">
                                                    <span class="input-group-text bg-transparent px-6 border-0"
                                                        id="basic-addon1"><i class="ti ti-list fs-6"></i></span>
                                                    <select id="kecamatan" name="kecamatan" class="form-select select2"
                                                        required>
                                                        <option value="null" selected disabled>Pilih Kecamatan</option>
                                                        {{#each datas.kecamatan}}
                                                        <option value="{{id}}">{{nama_kecamatan}}</option>
                                                        {{/each}}
                                                    </select>
                                                    <div class="px-2 invalid-feedback">
                                                        Kecamatan Belum Dipilih
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="lyt_puskesmas" class="col-md-12">
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1" class="form-label fw-semibold">Pilih
                                                    Puskesmas</label>
                                                <div class="input-group border rounded-1">
                                                    <span class="input-group-text bg-transparent px-6 border-0"
                                                        id="basic-addon1"><i class="ti ti-list fs-6"></i></span>
                                                    <select id="select_puskesmas" name="puskesmas"
                                                        class="form-select select2" required>

                                                    </select>
                                                    <div class="px-2 invalid-feedback">
                                                        Puskesmas Belum Dipilih
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="lyt_w_kerja" class="col-md-12">
                                            <div class="mb-4">
                                                <label for="wilayah_kerja" class="form-label fw-semibold">Pilih
                                                    Wilayah Kerja</label>
                                                <div class="input-group border rounded-1">
                                                    <span class="input-group-text bg-transparent px-6 border-0"
                                                        id="basic-addon1"><i class="ti ti-list fs-6"></i></span>
                                                    <select id="select_wilayah_kerja" name="wilayah_kerja"
                                                        class="form-select select2" required>

                                                    </select>
                                                    <div class="px-2 invalid-feedback">
                                                        Wilayah Kerja Belum Dipilih
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-add" type="submit" class="btn btn-success rounded-pill px-4">Tambah Jadwal
                            Imunisasi</button>
                        <button id="btn-edit" type="submit" class="btn btn-success rounded-pill px-4">Update
                            Data</button>
                        </form>
                        <button class="btn btn-danger rounded-pill px-4" data-bs-dismiss="modal"> Batal </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-body">
            <div class="table-responsive">
                <table id="tbl_jadwal_imunisasi" class="table display align-middle text-nowrap" style="width: 100%">
                    <thead class="header-item">
                        <tr>
                            <th>No</th>
                            <th>Tanggal</th>
                            <th>Kecamatan</th>
                            <th>Puskesmas</th>
                            <th>Wilayah Kerja</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{else}}
    {{> admin/includes/error}}
    {{/ifEquals}}
</div>