<script src="/dist/libs/sweetalert2/sweetalert2.all.min.js"></script>
<script src="/dist/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/dist/libs/loading-overlay/loading-overlay.js"></script>
<script src="/dist/js/custom/setting/index.js"></script>