<div class="container-fluid">

    {{#ifEquals datas.users.user_type "-1"}}

    <div class="widget-content searchable-container list">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-8 col-xl-9">
                    <div class="col-12">
                        <h4 class="fw-semibold mb-8">
                            {{datas.kartu_keluarga.no_kk}}</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted"
                                        href="#">{{datas.kartu_keluarga.kecamatan.nama_kecamatan}}</a></li>
                                <li class="breadcrumb-item" aria-current="page">
                                    {{datas.kartu_keluarga.puskesmas.nama_puskesmas}}</li>
                                <li class="breadcrumb-item" aria-current="page">
                                    {{datas.kartu_keluarga.wilayah_kerja.nama_posyandu}}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3 text-end d-flex justify-content-md-end justify-content-center mt-3">
                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#addAnggotaKeluarga"
                        id="btn_add_anggota_keluarga" class="btn btn-hover btn-info d-flex align-items-center">
                        <i class="ti ti-users text-white me-1 fs-5"></i> Tambah Anggota Keluarga
                    </a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addAnggotaKeluarga" tabindex="-1" role="dialog" aria-labelledby="addKeluarga"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center">
                        <h5 class="modal-title title_opd">Tambah Anggota Keluarga</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="add-contact-box">
                            <div class="add-contact-content">
                                <form id="frmAddAnggotaKeluarga" class="needs-validation" method="post" novalidate>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="hidden" name="_id" id="_id" value="">
                                            <input type="hidden" name="_actions" id="_actions" value="">
                                            <div class="mb-4">
                                                <label for="nama_posyandu" class="form-label fw-semibold">NIK</label>
                                                <div class="input-group border rounded-1">
                                                    <span class="input-group-text bg-transparent px-6 border-0"
                                                        id="basic-addon1"><i
                                                            class="ti ti-building-arch fs-6"></i></span>
                                                    <input type="text" name="nik" autofocus required
                                                        class="form-control border-0 ps-2" placeholder="Masukkan NIK">

                                                    <div class="px-2 invalid-feedback">
                                                        Nomor NIK Tidak Boleh Kosong
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1" class="form-label fw-semibold">Nama
                                                    Lengkap</label>
                                                <div class="input-group border rounded-1">
                                                    <span class="input-group-text bg-transparent px-6 border-0"
                                                        id="basic-addon1"><i
                                                            class="ti ti-building-arch fs-6"></i></span>
                                                    <input type="text" name="nama_lengkap" autofocus required
                                                        class="form-control border-0 ps-2"
                                                        placeholder="Masukkan Nama Lengkap">

                                                    <div class="px-2 invalid-feedback">
                                                        Nama Lengkap Tidak Boleh Kosong
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="lyt_status_keluarga" class="col-md-4">
                                            <div class="mb-4">
                                                <label for="nama_posyandu" class="form-label fw-semibold">Status
                                                    Keluarga</label>
                                                <div class="input-group border rounded-1">
                                                    <span class="input-group-text bg-transparent px-6 border-0"
                                                        id="basic-addon1"><i
                                                            class="ti ti-building-arch fs-6"></i></span>

                                                    <select id="status_keluarga" name="status_keluarga"
                                                        class="form-select select2" required>
                                                        <option value="0">Ayah</option>
                                                        <option value="1">Ibu</option>
                                                        <option value="2">Anak</option>
                                                    </select>

                                                    <div class="px-2 invalid-feedback">
                                                        Status Keluarga Tidak Boleh Kosong
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="lyt_kepala_keluarga" class="col-md-4">
                                            <div class="mb-4">
                                                <label for="kepala_keluarga" class="form-label fw-semibold">Kepala
                                                    Keluarga?</label>
                                                <div class="input-group border rounded-1">
                                                    <span class="input-group-text bg-transparent px-6 border-0"
                                                        id="basic-addon1"><i
                                                            class="ti ti-building-arch fs-6"></i></span>

                                                    <select id="kepala_keluarga" name="kepala_keluarga"
                                                        class="form-select select2" required>
                                                        <option value="0">Tidak</option>
                                                        <option value="1">Ya</option>
                                                    </select>

                                                    <div class="px-2 invalid-feedback">
                                                        Kepala Keluarga Tidak Boleh Kosong
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="lyt_anak_ke" class="col-md-4">
                                            <div class="mb-4">
                                                <label for="kepala_keluarga" class="form-label fw-semibold">Anak
                                                    Keberapa?</label>
                                                <div class="input-group border rounded-1">
                                                    <span class="input-group-text bg-transparent px-6 border-0"
                                                        id="basic-addon1"><i
                                                            class="ti ti-building-arch fs-6"></i></span>

                                                    <input type="text" name="anak_ke" autofocus
                                                        class="form-control border-0 ps-2" placeholder="1">

                                                    <div class="px-2 invalid-feedback">
                                                        Kepala Keluarga Tidak Boleh Kosong
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-4">
                                                <label for="tempat_lahir" class="form-label fw-semibold">Tempat
                                                    Lahir</label>
                                                <div class="input-group border rounded-1">
                                                    <span class="input-group-text bg-transparent px-6 border-0"
                                                        id="basic-addon1"><i
                                                            class="ti ti-building-arch fs-6"></i></span>

                                                    <input type="text" name="tempat_lahir" autofocus
                                                        class="form-control border-0 ps-2" placeholder="Tempat Lahir">

                                                    <div class="px-2 invalid-feedback">
                                                        Tempat Tidak Boleh Kosong
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-4">
                                                <label for="tgl_lahir" class="form-label fw-semibold">Tanggal
                                                    Lahir</label>
                                                <div class="input-group border rounded-1">
                                                    <span class="input-group-text bg-transparent px-6 border-0"
                                                        id="basic-addon1"><i
                                                            class="ti ti-building-arch fs-6"></i></span>

                                                    <input type="date" name="tgl_lahir" autofocus
                                                        class="form-control border-0 ps-2" placeholder="Tanggal Lahir">

                                                    <div class="px-2 invalid-feedback">
                                                        Tanggal Tidak Boleh Kosong
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mb-4">
                                                <label for="tgl_lahir" class="form-label fw-semibold">Nomor
                                                    Whatsapp</label>
                                                <div class="input-group border rounded-1">
                                                    <span class="input-group-text bg-transparent px-6 border-0"
                                                        id="basic-addon1">+62</span>

                                                    <input type="text" name="no_hp" autofocus
                                                        class="form-control border-0 ps-2" placeholder="812xxxxxxxx">

                                                    <div class="px-2 invalid-feedback">
                                                        No Hp Tidak Boleh Kosong
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-add" type="submit" class="btn btn-success rounded-pill px-4">Tambah
                            Anggota Keluarga</button>
                        <button id="btn-edit" type="submit" class="btn btn-success rounded-pill px-4">Update
                            Data</button>
                        </form>
                        <button class="btn btn-danger rounded-pill px-4" data-bs-dismiss="modal"> Batal </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-body">
            <div class="table-responsive">
                <table id="tbl_anggota_keluarga" class="table display align-middle text-nowrap" style="width: 100%">
                    <thead class="header-item">
                        <tr>
                            <th>No</th>
                            <th>NIK</th>
                            <th>Nama</th>
                            <th>Kepala Keluarga</th>
                            <th>Anak Ke</th>
                            <th>Status</th>
                            <th>Tempat Lahir</th>
                            <th>Tgl Lahir</th>
                            <th>Umur</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{else}}
    {{> admin/includes/error}}
    {{/ifEquals}}
</div>